#container {
  background-color: rgba(200, 195, 195, 0.225);
}
#container {
  padding: 40px;
}
#container div{
  margin-top: 10px;
  margin-bottom: 10px;
}
label {
  width: 100px;
  display: inline-block;
}